http://{$LAN_HOST}:80 {
    redir https://{$LAN_HOST}:{$HTTPS_PORT}{uri} permanent
}

https://{$LAN_HOST}:443 {
    tls internal

    reverse_proxy deepseek-harness:3080 {
        header_up Host {http.request.host}
    }
}
